@(controller: de.htwg.se.tpn.controller.TpnControllerInterface)

<script type='text/javascript' src='@routes.Assets.versioned("javascript/gameField.js")'></script>
	
<div class="grid game-container">
    @for(row <- 0 until controller.getSize) {
        @for(column <- 0 until controller.getSize) {
            <div id="@{row.toString + column.toString}" class="tile square @{"tile" + controller.getValue(row, column)}">
                <span class="tile-centerd-text">
                    @controller.getValue(row, column)        
                </span>
            </div>
        }
    }
</div>