@(form: play.data.Form[Application.User])(app: Application)

@main("Register at 2PN", app) {

    <div>
        <h1>Register at 2PN</h1>
    </div>

    <div class="login">
    @helper.form(routes.Application.signup) {

        @if(form.hasGlobalErrors) {
            <div class="alert alert-success">
            @form.globalError.message
            </div>
        }
        <div class="form-group">
            <label for="email">Email Adresse</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" value="@form("email").value">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-default">Register</button>
        <a type="button" class="btn btn-default" href="@routes.Application.login">Have an account?</a>
        <div class="btn-group">
        }
    </div>

}