@(controller: de.htwg.se.tpn.controller.TpnControllerInterface)

@main("2PN - game") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascript/game.js")'></script>
    
    <div class="grid container">
        @for(row <- 0 until controller.getSize) {
                @for(column <- 0 until controller.getSize) {
                    <div id="@{row.toString + column.toString}" class="tile square @{"tile" + controller.getValue(row, column)}">
                    @controller.getValue(row, column)
                    </div>
                }
            }
    </div>
    <button type="button" id="down_button">down</button>
}