@(controller: de.htwg.se.tpn.controller.TpnControllerInterface)(script: String)

@main("2PN - game") {

    @if(script == "ws") {
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
		<script type='text/javascript' src='@routes.Assets.versioned("javascript/websockets.js")'></script>
    } else {
        <script type='text/javascript' src='@routes.Assets.versioned("javascript/ajax.js")'></script>
    }

    <div class="grid container">
        @for(row <- 0 until controller.getSize) {
                @for(column <- 0 until controller.getSize) {
                    <div id="@{row.toString + column.toString}" class="tile square @{"tile" + controller.getValue(row, column)}">
                    @controller.getValue(row, column)
                    </div>
                }
            }
    </div>
    
    <div ng-app="myApp" ng-controller="tpnController" id="scope">
        <input type="text" ng-model="player.name" class="form-control" placeholder="Search player">
        <table class="table table-stripped">
            <tr>
                <th>Name</th>
                <th>Points</th> 
            </tr>
            <tr ng-repeat="highscore in highscores | filter:player orderBy: '-points'  ">
                <td>{{highscore.name}}</td>      
                <td>{{highscore.points}}</td>      
            </tr>
        </table>    
    </div>
    
    <button type="button" id="down_button">down</button>
}