@(controller: de.htwg.se.tpn.controller.TpnControllerInterface)(privateGame: String)(app: Application)

@main("2PN - game", app) {

    @if(privateGame == "true") {
        <script type='text/javascript' src='@routes.Assets.versioned("javascript/ajax.js")'></script>
    } else {
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
		<script type='text/javascript' src='@routes.Assets.versioned("javascript/websockets.js")'></script>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="grid game-container">
                    @for(row <- 0 until controller.getSize) {
                        @for(column <- 0 until controller.getSize) {
                            <div id="@{row.toString + column.toString}" class="tile square @{"tile" + controller.getValue(row, column)}">
                                <span class="tile-centerd-text">
                                    @controller.getValue(row, column)        
                                </span>
                            </div>
                        }
                    }
                </div>    
            </div>
            <div class="col-md-4">
                <div ng-app="myApp" ng-controller="tpnController" id="scope">
                    <input type="text" ng-model="playerName" class="form-control" placeholder="Search player">
                    <table class="table table-stripped">
                        <tr>
                            <th>Name</th>
                            <th>Points</th> 
                        </tr>
                        <tr ng-repeat="highscore in highscores | filter:{name: playerName} | orderBy:'-points' | limitTo:limit">
                            <td>{{highscore.name}}</td>      
                            <td>{{highscore.points}}</td>      
                        </tr>
                    </table>    
                </div>
            </div>
        </div>
    </div>
}