@color-base: peachpuff;
body {
    background-color: @color-base;
    p {
    text-align: justify;
    }
    h1 {
    color:sienna;
    text-align:center;
    }
    div.tile {
        background-color:green;
        float:left;
        border-width:2px;
        border-color:red;
    }
}


.introduction {

}